---
import { Image } from 'astro:assets';
import content from '@content/content';
import Title from '@components/Title/Title.astro';
import { TITLE_ICONS, TITLE_VARIANTS } from '@domain/constants';
import Container from '@components/Container/Container.astro';

// TODO scrollcontainer reusable element
---

<section class="conferences">
  <Container>
    <Title title="Conferences" icon={TITLE_ICONS.userGroup} />
    <div class="content">
      {
        content.conferences.map(({ title, description, image }) => (
          <div class="conference">
            <Image src={image} alt="Go to slack" class="groupImage" height={410} class="image" />

            <div class="information1">
              <div class="information">
                <Title title={title} variant={TITLE_VARIANTS.mediumUnderline} />
                <p>{description}</p>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</section>

<style lang="scss">
  @import '@styles/common-style.scss';

  .conferences {
    background-color: $color-neutral-200;
    width: 100%;
    padding: 74px 0 48px 0;

    @include screen-xs {
      padding: 48px 0;
    }
  }

  .content {
    padding: 64px 0;
    display: grid;
    gap: 100px;

    @include screen-xs {
      gap: 50px;
    }
  }

  .conference {
    @include flex-container(flex-start, flex-start, row, 24px);
    gap: 24px;

    &:nth-child(odd) {
      flex-direction: row-reverse;
      gap: 24px;
    }

    @include screen-xs {
      flex-direction: column;

      &:nth-child(odd) {
        flex-direction: column;
      }
    }
  }

  .information {
    //TODO fix scroll container and make reusable scrolll container component, with flex and scrolll some of overflowed content is not visible
    // @include flex-container(center, flex-start, column);
    padding-right: 8px;
    width: 100%;
    // height: 90%;
    vertical-align: middle;
    border: 1px solid red;
    align-self: center;
    justify-self: center;
    @include screen-sm-plus {
      @include vertical-scrollbar();
    }
  }

  .information1 {
    padding-right: 8px;
    width: 100%;

    @include screen-sm-plus {
      @include vertical-scrollbar();
      height: 410px;
    }
  }

  p {
    margin-top: 24px;
    color: $color-grey-500;
    line-height: 34px;
  }

  .image {
    width: 100%;
    height: 410px;
    object-fit: cover;

    @include screen-xs {
      height: auto;
    }
  }
</style>
