---
import { Image } from 'astro:assets';
import Title from '@components/Title/Title.astro';
import { TITLE_VARIANTS } from '@domain/constants';
import type { FiltersType, ImagesType } from '@domain/types';
import { Icon } from 'astro-icon/components';

interface Props {
  class?: string;
  description: string;
  icon?: string;
  image?: ImagesType;
  tags: FiltersType[];
  title: string;
}
const { description, icon, tags, title, image, class: className, ...rest } = Astro.props;
---

<div class="company">
  <section class="information">
    {image && <Image src={image} alt="logo image" height={40} />}
    {!image && <Icon name={icon || 'handshake'} class="image" height={40} />}
    <Title title={title} variant={TITLE_VARIANTS.small} class="companyName" />
    <p>{description}</p>
    <div class="tags">
      {tags.map((tag) => <span>{tag}</span>)}
    </div>
  </section>
</div>

<style lang="scss">
  @import '@styles/common-style.scss';

  .company {
    border: 1px solid $color-grey-200;
    padding: 40px;
    border-radius: 10px;

    @include screen-sm {
      padding-bottom: 60px;
    }
  }

  .information {
    padding-right: 8px;

    display: grid;
    align-items: start;
    justify-content: start;
    gap: 20px;
  }

  p {
    color: $color-grey-600;
    line-height: 34px;
  }

  .companyName {
    text-align: left;
  }

  .tags {
    color: $color-red-100;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    @include flex-container(flex-start, center, row, 16px);
  }
</style>
