---
import Container from '@components/Container/Container.astro';
import { Image } from 'astro:assets';
import Title from '@components/Title/Title.astro';
import { TITLE_VARIANTS } from '@domain/constants';
import hero_bg from '@images/hero_bg.png';
import scalaImage from '@images/scala.png';
import booksImage from '@images/books.png';
import slackImage from '@images/slack.png';
import content from '@content/content';

const bgUrl = `url(${hero_bg.src})`;
---

<section>
  <Container class="container">
    <div class="mainContainer">
      <Image src={scalaImage} alt="Scala logo" />
      <div class="titleAndDescription">
        <Title title="Polish Scala Community" variant={TITLE_VARIANTS.extraLargeUnderline} />
        <p>{content.heroDescription}</p>
      </div>
      <a
        href="https://join.slack.com/t/scala-poland/shared_invite/zt-1jeq834yd-iOTH4U1Gto3YWu_lEVY5oA"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Image src={slackImage} alt="Go to slack" />
        WE MEET ON SLACK, JOIN US TODAY!
      </a>
    </div>
    <Image src={booksImage} alt="Books image" class="booksImage" />
  </Container>
</section>

<style lang="scss" define:vars={{ bgUrl }}>
  @import '@styles/common-style.scss';

  section {
    width: 100svw;
    overflow: hidden;
    background-image: var(--bgUrl);
    background-color: $color-black-100;
    background-repeat: no-repeat;
    background-size: cover;

    @include screen-md {
      max-height: 100svh;
      background-position-x: left;
    }
    @include screen-sm {
      max-height: 100svh;
      background-position-x: 100%;
    }

    @include screen-xs {
      background-position-x: right;
      background-position-y: top;
    }
  }

  .container {
    @include flex-container(center, center, row, 16px);
    padding: 46px 16px 46px 148px;

    @include screen-md-minus {
      padding: 46px 16px 46px 46px;
    }
    @include screen-xs {
      flex-direction: column;
      padding: 32px 24px;
    }
  }

  .mainContainer {
    z-index: 2;
    height: 100%;
    @include flex-container(flex-start, start, column, 60px);

    @include screen-md {
      gap: 20px;
    }

    @include screen-xs {
      gap: 36px;
      max-width: 100%;
    }
  }
  .titleAndDescription {
    @include flex-container(flex-start, start, column);
    @include screen-md-minus {
      max-width: 70%;
    }
    @include screen-xs {
      justify-content: center;
      max-width: 100%;
    }
  }

  p {
    color: $color-neutral-100;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: -0.5px;
    text-align: left;

    @include screen-md {
      font-size: 18px;
    }

    @include screen-xs {
      font-size: 16px;
    }
  }
  a {
    @include flex-container(flex-start, center, row, 0.5rem);
    text-decoration: none;
    background-color: $color-neutral-100;
    padding: 12px;
    border-radius: 8px;
    font-size: 13px;
    line-height: 24px;
    font-weight: 600;
    color: $color-black-200;

    @include screen-xs {
      font-size: 12px;
      line-height: 20px;
    }
  }
  .booksImage {
    margin-top: 30px;
    width: 45%;
    height: auto;
    align-self: flex-end;

    @include screen-md-minus {
      width: 30%;
      position: absolute;
      right: 0;
      top: 8px;
    }

    @include screen-xs {
      width: 28%;
      position: absolute;
      right: 0;
      top: 0px;
    }
  }
</style>
