---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title/Title.astro';
import { TITLE_ICONS, TITLE_VARIANTS } from '../domain/constants.ts';
import Introduction from '../components/Introduction/Introduction.astro';
---

<Layout title="Polish Scala Comunity">
  <main>
    <Introduction />
    <Title title="Learning materials" icon={TITLE_ICONS.email} />
    <Title title="Learning materials" icon={TITLE_ICONS.calendar} />
    <Title title="Learning materials" icon={TITLE_ICONS.handshake} />
    <Title title="Learning materials" icon={TITLE_ICONS.userGroup} />
    <Title title="Polish Scala Comunity" variant={TITLE_VARIANTS.extraLargeUnderline} />
    <Title title="Scala Conference" variant={TITLE_VARIANTS.mediumUnderline} />
    <Title title="Iterators" variant={TITLE_VARIANTS.small} />
  </main>
</Layout>

<style lang="scss">
  @import '../styles/common-style.scss';
  main {
    @include flex-container(flex-start, center, column, 68px);
    margin: auto;
    max-width: 1220px;
    line-height: 1.6;
    padding: 0 1rem;
  }
</style>
